services:
  db:
    image: mysql:8.0
    container_name: lotusmile_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./.docker/dbdata:/var/lib/mysql
